* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: Helvetica;
}

.navbar {
    height: 60px;
    background-color: lightseagreen;
}

.unordered-list {
    display: flex;
}

.unordered-list li {
    list-style-type: none;
    margin: 20px;
    color: #ffffff;
}

/* hero section */
.hero-container {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-container h1 {
    background-color: #a54e4e;
    color: #ffffff ;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* meetup area*/
.meetup-area {

}

.meetup-area h3 {
    color: yellow;
}